.footer {
  background-color: #f3f4f6; /* Very Light Grey */
  padding: 4rem 4rem 2rem;
  color: var(--color-text-main);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-bottom: 4rem;
}

/* Column styles */
.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logoWrapper {
  width: 150px;
  margin-bottom: 1rem;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.navLinks a {
  font-family: var(--font-heading);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: color 0.2s;
}

.navLinks a:hover {
  color: rgba(0, 0, 0, 1);
}

.contactIntro {
  font-family: var(--font-heading);
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  letter-spacing: -0.05em;
  margin-bottom: -1rem;
  padding-top: 1.5rem;
}

.emailLink {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
  text-underline-offset: 3px;
  letter-spacing: -0.05em;
}

.label {
  font-family: var(--font-heading);
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  letter-spacing: -0.05em;
  margin-bottom: 0.5rem;
}

.phoneLink {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.heading {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #000;
  letter-spacing: -0.05em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.list li a {
   font-family: var(--font-heading);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: color 0.2s;
}

.list li a:hover {
  color: rgba(0, 0, 0, 1);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1 );
  padding-top: 2rem;
  text-align: center;
}

.copyright,
.legal a {
  font-family: var(--font-body);
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}

.legal {
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
  }

  .bottom {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.branding {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  margin-top: 2rem;
  opacity: 0.9;
}

.branding img {
  height: 3rem;
}

@media (min-width: 768px) {
  .inputGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .inputGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 3rem 1.5rem 1.5rem;
  }
}
