.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoImage {
  height: 100%;
  width: auto;
}

.text {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  display: block;
}

.hidden {
  display: none;
}
