.section {
  position: relative;
  width: 100%;
  background-color: var(--color-primary);
  padding: 8rem 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundText {
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: var(--font-heading);
    font-size: 50vh;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.03); /* Very subtle white opacity */
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  line-height: 1;
}

@media (max-width: 1024px) {
  .backgroundText {
    bottom: -5%;
    font-size: 30vh;
  }
}

@media (max-width: 900px) {
  .backgroundText {
    bottom: -5%;
    font-size: 25vh;
  }
}

@media (max-width: 768px) {
  .backgroundText {
    bottom: -4%;
    font-size: 18vh;
  }
}


@media (max-width: 600px) {
  .backgroundText {
    bottom: -3%;
    font-size: 15vh;
  }
}

@media (max-width: 420px) {
  .backgroundText {
    bottom: -1.5%;
    font-size: 11.5vh;
  }
}

.container {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: var(--font-heading);
  color: #ffffff;
  font-size: 8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.1;
  letter-spacing: -0.06em;
}

.highlight {
  color: var(--color-secondary);
  font-size: 8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.1;
  letter-spacing: -0.06em;
}

.text {
  color: #ffffff;
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 50%;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: var(--color-primary);
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.2s ease;
  letter-spacing: -0.02em;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1024px) {
  .section {
    padding: 6rem 2rem;
  }

  .heading,
  .highlight {
    font-size: 5rem;
  }

  .text {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 1.5rem;
  }

  .heading,
  .highlight {
    font-size: 4rem;
  }

  .text {
    font-size: 1rem;
    max-width: 100%;
  }
}
