.section {
  padding: 6rem 2rem 5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

.container {
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--color-primary);
  font-family: var(--font-heading);
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  line-height: 1.1;
}

.form {
  display: flex;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc; /* Or light grey */
  border-radius: 9999px;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-bottom: 1rem;
}

.input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-family: var(--font-heading);
  font-size: 1rem;
  color: #333;
}

.button {
  background-color: var(--color-secondary); /* Light Green */
  color: var(--color-primary);
  border: none;
  border-radius: 9999px;
  padding: 1rem 3rem;
  font-family: var(--font-heading);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}

.button:hover {
  filter: brightness(0.95);
}

.subtext {
  font-family: var(--font-body);
  font-size: 0.8rem;
  color: #666;
}

@media (max-width: 1024px) {
  .section {
    padding: 6rem 2rem 5rem;
  }
  
  .heading {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 1.5rem 3rem;
  }
  
  .heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 420px) {
  .form {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    align-items: stretch;
    border-radius: 20px;
  }
  
  .input {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .button {
    width: 100%;
    max-width: none;
  }
}
