@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* Brand Colors */
  --color-primary: #00352B;     /* Dark Green - Deep Forest */
  --color-secondary: #A9D26E;   /* Light Green - Lime/Pear */
  --color-background: #ffffff;  /* White */
  --color-background-alt: #FFECDB; /* Light Beige/Peach */
  --color-text-main: #00352B;       /* Dark Green for main text */
  --color-text-light: #ffffff;      /* White text */
  --color-text-muted: #4b5563;      /* Grey text */

  /* Spacing */
  --spacing-container: 1600px;
  --spacing-padding: 2rem;
  
  /* Fonts */
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  
  /* Layout */
  --navbar-height: 4rem;

  /* Typography Scale */
  --text-h1: 1.75rem;
  --text-h2: 1.5rem;
  --text-h3: 1.25rem;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 5rem;
    --text-h1: 2rem;
    --text-h2: 1.75rem;
    --text-h3: 1.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --text-h1: 2.25rem;
    --text-h2: 2rem;
    --text-h3: 1.75rem;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* body {
  padding-top: var(--navbar-height);
} */


p {
  font-family: var(--font-body);
  line-height: 1.6;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Utility / Global Layout */
.container {
  max-width: var(--spacing-container);
  margin: 0 auto;
  padding: 0 var(--spacing-padding);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--font-heading);
  font-weight: 600;
  letter-spacing: -0.025em;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 5rem;
  }
}
