.banner {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  background-color: #d1d5db;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .banner {
    height: 75vh;
  }
}
